body
{
    color: red;
}

h1{
    color: royalblue;
}
.container
{
  padding-left: 1rem;
  padding-right: 1rem;
}

.link
{

}
hr{
    margin: 2rem 0rem;
}

.link primary-link
{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    color: white;
}

.link secondary-link
{
    
        background-color: var(--primary-color);
        border-radius: 0.5rem;
        color: white;
        border: 1px solid var(--primary-color);
    
}

.list-non-bullet
{
  list-style: none;
}

.list-item-inline
{
display: inline;
padding:0rem 0.5rem;
}